<br>
      <br>
      <div class="flex">
        <div class="w-1/2">
        <img src="{% static 'image/yidhologo.jpeg' %}" class=" p-4 border-solid border-purple border-4 rounded-lg"
        data-aos="fade-down"
        data-aos-easing="linear">
        <h2 class="text-black text-2xl text-center px-4 font-bold"> our members</h2>
         <p class="p-4">The organization is made of:
          - Founding members
          - Adherent members
          - Honorary members
            
          1o Founding members are those who signed this constitution.
          
          2o Adherent members are any natural or legal persons who, 
          after having subscribed to this constitution, will be approved 
          by the general assembly. 
          
          3o Honorary members are any natural or legal persons who will 
          be interested in the objectives of the organization and will
           support its activities both materially and morally. 
           Their membership is approved by the general assembly. 
           They may participate in its meetings in an advisory capacity (not elective).
           </p>
        </div>
        <div class="w-1/2">
          <h1 class="text-black text-2xl px-4 font-bold">Scope of activities</h1>
          <hr>
            <p class="text-xl px-4">

               <span class="font-bold text-purple-500"></span> 
               <span class="font-semibold text-black-300"> The organization conducts its 
                 activities on the territory of the Republic of Rwanda especially in
                  rural areas.
                  It is established for an undetermined period.
            </p>
         <div class="px-4"> <img src="{% static 'image/yidho2.jpg' %}" height="70px" class="mb-4"></div>
        </div>
      </div>
      <br>
      <br>
          <div class="row p-4 shadow-lg">
            <div class="w-3/6">
            <h2 class="text-2xl font-bold"> the company resources</h2>
            <p class="text-xl">The resources of the organization are generated 
              from the members ‘contributions, gifts, legacy different grants 
              and other income generated activities of 
              the organization in order to achieve its objectives.
            </p>
            <br/>
            <h3 class="text-2xl font-bold">General  assembly</h3>
          <p class="text-gray text-xl">The General Assembly is convened and headed 
            by the President of executive Committee. In his/her absence
             he/she shall temporarilyreplaced by the Vice President. If both of them are absent or unwilling, the general Assembly shall be convened in written invitation signed by ½ of the effective members and designate 
            a chairperson and reporter of the meeting be .</p>
          </div>
          <div class="w-3/6 px-4">
           <img src="{% static 'image/yidho1.jpg' %}" height="100px">
          </div>
      </div>
     
    </div>
    <br>
    <br>