{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>YIDHO</title>
  <link rel="stylesheet" href="css/style">
  <link rel="icon" type="icon/jpg"  href="{% static 'image/yidhologo.jpeg' %}">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>
<body style="background-image:radial-gradient(circle, rgb(142, 196, 231), rgb(139, 216, 203), rgb(237, 126, 252));" >
  <nav class="navbar navbar-expand-md navbar-light bg-blue-200">
    <a href="/" class="navbar-brand">
        <img src="{% static 'image/yidhologo.jpeg' %}" height="30px" width="30px" alt="YIDHO">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active"><button class="bg-purple-300 rounded-lg p-2 hover:bg-white">Home</button></a>
            <a href="{% url 'about' %}" class="nav-item nav-link"><button class="bg-purple-300 rounded-lg p-2 hover:bg-white">About us</button></a>
            <a href="#" class="nav-item nav-link"><button class="bg-purple-300 rounded-lg p-2 hover:bg-white">contact us</button></a>
            <a href="#" class="nav-item nav-link " tabindex="-1"><button class="bg-purple-300 rounded-lg p-2 hover:bg-white">partners</button></a>
        </div>
        <div class="navbar-nav ml-auto bg-blue hover:bg-white">
            <a href="#" class="nav-item nav-link  hover:text-blue"><button class="bg-purple-300 rounded-lg p-2 hover:bg-white">Donate</button></a>
        </div>
    </div>
</nav>
<!-- Navbar -->
      <br>
      <br>
      <div class="flex">
        <div class="w-1/2">
        <img src="{% static 'image/yidhologo.jpeg' %}" class=" p-4 border-solid border-purple border-4 rounded-lg"
        data-aos="fade-down"
        data-aos-easing="linear">
        <h2 class="text-black text-2xl text-center px-4 font-bold"> our members</h2>
         <p class="p-4">The organization is made of:
          - Founding members
          - Adherent members
          - Honorary members
            
          1o Founding members are those who signed this constitution.
          
          2o Adherent members are any natural or legal persons who, 
          after having subscribed to this constitution, will be approved 
          by the general assembly. 
          
          3o Honorary members are any natural or legal persons who will 
          be interested in the objectives of the organization and will
           support its activities both materially and morally. 
           Their membership is approved by the general assembly. 
           They may participate in its meetings in an advisory capacity (not elective).
           </p>
        </div>
        <div class="w-1/2">
          <h1 class="text-black text-2xl px-4 font-bold">Scope of activities</h1>
          <hr>
            <p class="text-xl px-4">

               <span class="font-bold text-purple-500"></span> 
               <span class="font-semibold text-black-300"> The organization conducts its 
                 activities on the territory of the Republic of Rwanda especially in
                  rural areas.
                  It is established for an undetermined period.
            </p>
         <div class="px-4"> <img src="{% static 'image/yidho2.jpg' %}" height="70px" class="mb-4"></div>
        </div>
      </div>
      <br>
      <br>
          <div class="row p-4 shadow-lg">
            <div class="w-3/6">
            <h2 class="text-2xl font-bold"> the company resources</h2>
            <p class="text-xl">The resources of the organization are generated 
              from the members ‘contributions, gifts, legacy different grants 
              and other income generated activities of 
              the organization in order to achieve its objectives.
            </p>
            <br/>
            <h3 class="text-2xl font-bold">General  assembly</h3>
          <p class="text-gray text-xl">The General Assembly is convened and headed 
            by the President of executive Committee. In his/her absence
             he/she shall temporarily be replaced by the Vice President. If both of them are absent or unwilling, the general Assembly shall be convened in written invitation signed by ½ of the effective members and designate 
            a chairperson and reporter of the meeting.</p>
          </div>
          <div class="w-3/6 px-4">
           <img src="{% static 'image/yidho1.jpg' %}" height="100px">
          </div>
      </div>
     
    </div>
    <br>
    <br>
    <div class="p-4">
      <div class="container my-4">
    
       
        <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
    
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
    
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
    
            <!-- Content -->
            <h5 class="text-uppercase">Location</h5>
            <p>Kimisagara,Nyarugenge,Kigali.</p>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none pb-3">
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">follow us</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">twitter</a>
              </li>
              <li>
                <a href="#!">Facebook</a>
              </li>
              <li>
                <a href="#!">Linkeldn</a>
              </li>
              <li>
                <a href="#!">instagram</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Yidho.Rwanda</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
    
      </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>